<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title><%= title %></title>-->
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
<!--</head>-->
<!--<body>-->
<!--<h1>Nexmo</h1>-->
<!--<form action="/verify" method="post">-->
<!--    Code:-->
<!--    <input type="text" name="code">-->
<!--    <input type="text" name="number" value=<%= number %> hidden>-->
<!--    <button>Submit!</button>-->
<!--</form>-->
<!--<p>Welcome to Nexmo</p>-->

<!--</body>-->
<!--</html>-->


<% include partials/header.ejs %>

<div class="container">
    <form action="/verify" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Code</label>
            <input type="text" class="form-control" id="number" name="code" aria-describedby="emailHelp" placeholder="1947">
            <input type="text" name="number" value=<%= number %> hidden>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include partials/footer.ejs %>