<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Nexmo</h1>
<form action="/verify" method="post">
    Code:
    <input type="text" name="code">
    <button>Submit!</button>
</form>
<p>Welcome to Nexmo</p>

</body>
</html>
