<% include partials/header.ejs %>

<!--<p>Thank you for your interest! We will call you shortly! </p>-->
<div class="alert alert-success" role="alert">
    Thank you for your interest! We will call you shortly!
</div>
<% include partials/footer.ejs %>